[Unit]
Description=z-ui Service
After=network.target
Wants=network.target

[Service]
Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/z-ui/
ExecStart=/usr/local/x-ui/z-ui

[Install]
WantedBy=multi-user.target